<h1>Welcome to the <%= @museum.name %> </h1>
<h2>Location: <%= @museum.address %></h2>
<%= image_tag @museum.image_url %>
<!-- <h2>Have a look at all our beautiful museums</h2> -->
<h2>We currently have these artworks to display:</h2>
<br>
<br>

<% @museum.artworks.each do |artwork| %>
  <ul>
    <li><%=link_to artwork.name, artwork_path(artwork.id)%></li>

  </ul>
<% end %>
