<h2>Welcome to the <%= @museum.name %> </h2>
<h3>Location: <%= @museum.address %></h3>
<%= image_tag @museum.image_url %>
<!-- <h2>Have a look at all our beautiful museums</h2> -->
<h3>We currently have these artworks to display:</h3>

<% @museum.artworks.each do |artwork| %>
    <p><%=link_to artwork.name, artwork_path(artwork.id)%></p>
<% end %>
